<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR_Code</title>
    <link rel="stylesheet" href="style/main.css" />
  </head>
  <body>
    <% if (yn === false) { %>
    <div class="container">
      <h1>QR Code Generator</h1>
      <form action="/submit" method="POST">
        <input type="text" id="text-input" name="url" placeholder="Enter URL" />
        <input
          type="submit"
          id="button"
          name="submit"
          placeholder="Generate QR Code"
        />
      </form>

      <% } else { %>
      <div class="container">
        <h1>Your QR Code</h1>
        <img src="qr_img.png" alt="qrcode" />
      </div>
      <% } %>
    </div>
  </body>
</html>
